* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  outline: 2px solid red;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
  padding-bottom: 100%;
  margin-top: 150px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  background-color: #ff6900;
  height: 80px;
  width: 100%;
  padding: 0 10%;
}

header ul {
  list-style: none;
  display: flex;
}

header ul li {
  padding: 0 20px;
}

header ul li a {
  color: white;
  text-decoration: none;
  display: inline-block;
  height: 70px;
  line-height: 70px;
}

header ul li a:hover {
  background-color: fuchsia;
}

.row {
  cursor: pointer;
  position: relative;
}

img {
  width: 300PX;
}

.row.principale {
  display: inline-block;
  display: none;
  top: 0;
  left: 0;
  z-index: 1;
}

.row img.secondaria {
  position: absolute;
  width: 300;
  top: 0;
  left: 0;
  z-index: -1;
}








/* 
.container {

}

img{
  max-width: 100%;
}

main {
  padding: 100px;
}

header ul a.active {
  border-bottom: 50px solid green;
}


.big-box {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: ;
  margin: ;
  background-color: ;
}

.big-box h3 {
  color: red
}

.big-box:hover h3{
  color: yellow;
}


.product .discount{
  positiob: absolute;
  padding: 5px;
  top: 0;
  right: 0;
  font-size: 20px;
  background-color: grey;
}

.product .heart {
dislpay: none;
positiob: absolute;
color:
bottom 
left
text-align: center;
width: 100% (largo come il contenitore e al centro)
}

.product:hover .heart{
  dislpay: block;   (quando vai con il mouse sul quadrato ti fa vedere qualcosa)
  cursor: pointer;  (per fare passa sopra con il mouse)
*/